
.bar1 {
    fill: blue;
  }
  
  .bar1:hover {
    fill: red;
  }
  
  .bar2 {
    fill: green;
  }
  
  .bar2:hover {
    fill: yellow;
  }
  
  .axis {
    font: 10px sans-serif;
  }
  
  .axis-x path,
  .axis-y path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .axis-x line {
    stroke: #000;
    shape-rendering: crispEdges;
  }
  
  .axis-y line {
    stroke: #ddd;
    shape-rendering: crispEdges;
  }
  
  .legend {
    font: 12px sans-serif;
  }
  
  .legend .bar1 {
    fill: blue;
  }
  
  .legend .bar2 {
    fill: green;
  }
  
  .legend text {
    fill: #fff;
  }
  